body {
	background-color: #f8edeb;
	flex-direction: row;
	padding-top: 200px;
	padding-left: 500px;
}
div {
	margin-bottom: 20px
}
button {
	margin-left: 80px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#title {
	margin-left: 15px
}
.cancleButton {
	width: 100px;
}
.addButton {

	width: 100px;
}